

:root {
    --text: #343434;
    --title: #C3642E;
    --wh: rgb(255, 255, 255);
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: var(--text);
}

h1, h2, h3, h4 {font-family: 'Syne', sans-serif; font-weight: 600; color: var(--title);}
h1 {font-weight: 700; font-size: 2.3rem; line-height: 1em; text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.55); text-align: center; margin-bottom: 0.5rem;}
.motto {text-align: center; font-family: 'Syne'; color: var(--wh); margin: 0; font-size: 1.2rem;}
.title--modify {color: var(--wh);}
h2 {font-size: 1.8rem; text-align: center;}
h3 {font-size: 1.5rem; margin: 0.5rem 0;}
.iconCard__title {font-weight: 600; font-size: 1.2rem;}

